* {
    font-size: 20px;
}

.container {
    margin: auto;
    width: 50%;
}

table {
    width: 100%;
}

td:nth-child(1),
td:nth-child(2) {
    width: 35%;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5) {
    width: 10%;
}

button,
tr button {
    display: block;
    margin: auto;
    background-color: #f8f9fa;
    border: 2px solid #dadce0;
    border-radius: 4px;
    cursor: pointer;
    height: 36px;
    padding: 0 16px;
    white-space: pre;
}

tr button:enabled {
    color: #3c4043;
}

tr button:enabled:hover {
    color: #202124;
    border-color: black;
}

input {
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #dadce0;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

.input:focus {
    border-color: black;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 10px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.hidden {
    display: none;
}

button:disabled {
    cursor: not-allowed;
}
